/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-v32-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/nunito-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v32-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-v32-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-v32-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: rgba(170, 165, 165, 0.4);
}

input, li,ul,ol,a,button{
   list-style: none;
   text-decoration: none;
   border: none;
   background: none;
   outline: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

header {
  overflow: hidden;
  position: relative;
  min-height: 700px;
  height: 70vh;
  width: 100%;
  height: 700px;
  background: url(../image/Ellipse\ 1.png) no-repeat;
  background-size: cover;
  background-position: 0px -250px;
}



.logobox {
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 22px 0px;
}

.logo-link {
  width: 150px;
  height: 29px;
  padding: 22px 0px;
}

.hero {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: center;
}


.left {
  width: 326px;
  height: 326px;

}

.hero-title {
  font-size: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.category-container {
  display: flex;
  overflow-x: scroll;
  overflow-x: none;
  padding: 10px 0px;
  gap: 24px;
}

.category-container::-webkit-scrollbar{
  width: 100%;
  height: 6px;
  background: #bcbcbc;
}

.category-container::-webkit-scrollbar-thumb{
  background: #9f9f9f;
  border-radius: 10px;
}
.category-box {
  border-radius: 50px;
  padding: 12px;
  min-width: 156px;
  display: flex;
  align-items: center;
  background: #fff;
  display: flex;
  gap: 5px;
}

.category-box:hover{
  background: #e66c25;
  cursor: pointer;
}
.active{
  background: #FF5C00;
}

